<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tạp yêu cầu</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html" id="hd">Horus Entertainment</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-light" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <center>
                        <li><div class="avatar-wrapper">
                            <img class="profile-pic" src="{% static 'img/avt1.jpg '%}" />
                            <div class="upload-button">
                                <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                            </div>
                            <input class="file-upload" type="file" accept="image/*" />
                        </div></li>
                        <li><a class="dropdown-item" href="chinhsuathongtin.html">Chỉnh sửa thông tin</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="btn-outline-danger" href="login.html">Đăng xuất</a></li>
                        </center>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <!--<div class="sb-sidenav-menu-heading">Core</div>-->
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Trang chủ
                            </a>
                            <a class="nav-link" href="nhansu.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Nhân sự
                            </a>
                            <a class="nav-link" href="chamcong.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Chấm công
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Giao việc
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="vieccuatoi.html">Việc của tôi</a>
                                    <a class="nav-link" href="duan.html">Dự án</a>
                                </nav>
                            </div>
                            </a>
                            <a class="nav-link" href="yeucaucanduyet.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Yêu cầu
                            </a>
                            <a class="nav-link" href="baocao.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Báo cáo
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Yêu cầu</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Tạo yêu cầu</li>
                        </ol>
                        <div class="row justify-content-center">
                            <div class="col-lg-3">
                                <div class="card shadow-lg border-0 rounded-lg mt-0">
                                    <div class="card-header">
                                        <h2 class="text-center font-weight-light my-4">Nghỉ phép</h2>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="inputname" type="name" placeholder="..." />
                                                <label for="inputname">Họ và tên:</label>
                                            </div>
                                            
                                            <form>
                                                <div class="form-floating mb-3">
                                                    <select class="form-control" name="payFor" id="payFor" >
                                                        <option selected disabled value>Lựa chọn</option>
                                                        <option value="dmvs">Đi muộn về sớm</option>
                                                        <option value="nghiphep">Nghỉ phép</option>
                                                        <option value="nghiviec">Nghỉ việc</option>
                                                    </select>
                                                    <label  for="payFor">Loại yêu cầu</label>
                                                </div>
                                                <div class="form-floating mb-3" style="display: none;" id="dmvs">
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="datedmvs" type="date"/>
                                                        <script>
                                                            document.getElementById('datedmvs').value = new Date().toISOString().substring(0, 10);
                                                        </script>
                                                        <label for="datedmvs">Chọn ngày:</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="tudmvs" type="time" />
                                                        <label for="tudmvs">Thời gian từ:</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="dendmvs" type="time" />
                                                        <label for="dendmvs">Đến:</label>
                                                    </div>
                                                </div>
                                                <div class="form-floating mb-3" style="display: none;" id="nghiphep">
                                                    <div class="form-floating mb-3">
                                                        <select class="form-control" name="nghiphep">
                                                            <option disabled selected value>Lựa chọn</option>
                                                            <option value="nghiphep1">Tiêu chuẩn</option>
                                                            <option value="nghiphep2">Không lương</option>
                                                        </select>
                                                        <label for="nghiphep">Ché độ nghỉ phép:</label>
                                                    </div>
                                                    <form>
                                                        <div class="form-floating mb-3">
                                                            <select class="form-control" name="payFor1" id="payFor1">
                                                                <option selected disabled value>Lựa chọn</option>
                                                                <option value="nuangay">Nửa ngày</option>
                                                                <option value="trongngay">Trong ngày</option>
                                                                <option value="nhieungay">Nhiều ngày</option>
                                                            </select>
                                                            <label for="payFor">Loại nghỉ phép:</label>
                                                        </div>
                                                        <div class="form-floating mb-3" style="display: none;" id="nuangay">
                                                            <div class="form-floating mb-3">
                                                                <input class="form-control" type="date" />
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input class="form-control" type="time" id="nuangaytu" name="nuangaytu" />
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input class="form-control" type="time" id="nuangayden" name="nuangayden" />
                                                            </div>
                                                        </div>
                                                        <div class="form-floating mb-3" style="display: none;" id="trongngay">
                                                            <div class="form-floating mb-3">
                                                                <input  class="form-control" type="date" id="trongngay" />
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input class="form-control" type="time" id="trongngaytu" name="trongngaytu" value="08:00" />
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input class="form-control" type="time" id="trongngayden" name="trongngayden" value="17:30" />
                                                            </div>
                                                        </div>
                                                        <div class="form-floating mb-3" style="display: none;" id="nhieungay">
                                                            <div class="form-floating mb-3">
                                                                <input class="form-control" type="date" id="nhieungaytu" />
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input class="form-control" type="time" id="nhieungaytu" name="nhieungaytu" value="08:00" />
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input class="form-control" type="date" id="nhieungayden" />
                                                            </div>
                                                            <div class="form-floating mb-3">
                                                                <input class="form-control" type="time" id="nhieungayden" name="nhieungayden" value="17:30" />
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <script>
                                                        document.getElementById('payFor1').addEventListener("change", function (e) {
                                                            if (e.target.value === 'nuangay') {
                                                                document.getElementById('nuangay').style.display = 'block';
                                                                document.getElementById('trongngay').style.display = 'none';
                                                                document.getElementById('nhieungay').style.display = 'none';
                                                            } else if (e.target.value === 'trongngay') {
                                                                document.getElementById('nuangay').style.display = 'none';
                                                                document.getElementById('trongngay').style.display = 'block';
                                                                document.getElementById('nhieungay').style.display = 'none';
                                                            } else {
                                                                document.getElementById('nuangay').style.display = 'none';
                                                                document.getElementById('trongngay').style.display = 'none';
                                                                document.getElementById('nhieungay').style.display = 'block';
                                                            }
                                                        });
                                                    </script>





                                                    <!--<div class="form-floating mb-3">
                                                        <input class="form-control" type="date" id="nghipheptu" />
                                                        <label for="nghipheptu">Ngày bắt đầu:</label>
                                                        <script>
                                                            document.getElementById('nghipheptu').value = new Date().toISOString().substring(0, 10);
                                                        </script>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" type="time" id="nghipheptu" name="nghipheptu" />
                                                        <label for="nghipheptu">Thời gian bắt đầu:</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" type="date" id="nghiphepden" />
                                                        <script>
                                                            document.getElementById('nghiphepden').value = new Date().toISOString().substring(0, 10);
                                                        </script>
                                                        <label for="nghiphepden">Ngày kết thúc:</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" type="time" id="nghiphepden" name="nghiphepden" value="now" />
                                                        <label for="nghipheptu">Thời gian kết thúc:</label>
                                                    </div>-->
                                                </div>
                                                <div class="form-floating mb-3" style="display: none;" id="nghiviec">
                                                       <div class="form-floating mb-3">
                                                        <input class="form-control" id="datenghiviec" type="date" />
                                                        <script>
                                                            document.getElementById('datenghiviec').value = new Date().toISOString().substring(0, 10);
                                                        </script>
                                                        <label for="datenghiviec">Ngày dự định nghỉ việc:</label>
                                                    </div>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <textarea class="form-control" id="Lydo" type="text"></textarea>
                                                    <label for="Lydo">Lý do:</label>
                                                </div>
                                            </form>
                                            <center>
                                                    <a class="small" href="yeucaucanduyet.html">
                                                        <button type="submit" class="btn btn-primary" style="width: 100px; height: 40px;">Lưu</button>
                                                        <script language="javascript">
                                                        </script>
                                                    </a>
                                                &nbsp;&nbsp;&emsp;
                                                <a class="small" href="yeucaucanduyet.html">
                                                    <div class="btn btn-dark" style="width: 100px; height: 40px;">Huỷ bỏ</div>
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                <script>
                    document.getElementById('payFor').addEventListener("change", function (e) {
                        if (e.target.value === 'nghiphep') {
                            document.getElementById('dmvs').style.display = 'none';
                            document.getElementById('nghiphep').style.display = 'block';
                            document.getElementById('nghiviec').style.display = 'none';
                        } else if (e.target.value === 'dmvs') {
                            document.getElementById('nghiphep').style.display = 'none';
                            document.getElementById('dmvs').style.display = 'block';
                            document.getElementById('nghiviec').style.display = 'none';
                        } else {
                            document.getElementById('nghiphep').style.display = 'none';
                            document.getElementById('dmvs').style.display = 'none';
                            document.getElementById('nghiviec').style.display = 'block';
                        }
                    });
                </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>
