<!DOCTYPE html>
<html>

<body>
    <form>
        <label for="payFor1">Loại nghỉ phép: </label>
        <select name="payFor1" id="payFor1">
            <option disabled selected value>Lựa chọn</option>
            <option value="nuangay">Nửa ngày</option>
            <option value="trongngay">Trong ngày</option>
            <option value="nhieungay">Nhiều ngày</option>
        </select>
        <div style="display: none;" id="nuangay">
            <div>
            <input type="date"/>
            </div>
            <div>
            <input type="time" id="nuangaytu" name="nuangaytu"/>
            </div>
            <div>
            <input type="time" id="nuangayden" name="nuangayden"/>
            </div>
        </div>
        <div style="display: none;" id="trongngay">
            <div>
            <input type="date" id="trongngay"/>
            </div>
            <div>
            <input type="time" id="trongngaytu" name="trongngaytu" value="08:00" />
            </div>
            <div>
            <input type="time" id="trongngayden" name="trongngayden" value="17:30"/>
            </div>
        </div>
        <div style="display: none;" id="nhieungay">
            <div>
                <input type="date" id="nhieungaytu" />
            </div>
            <div>
                <input type="time" id="nhieungaytu" name="nhieungaytu" value="08:00" />
            </div>
            <div>
                <input type="date" id="nhieungayden" />
            </div>
            <div>
                <input type="time" id="nhieungayden" name="nhieungayden" value="17:30" />
            </div>
        </div>
    </form>
    <script>
        document.getElementById('payFor1').addEventListener("change", function (e) {
                if (e.target.value === 'nuangay') {
                    document.getElementById('nuangay').style.display = 'block';
                    document.getElementById('trongngay').style.display = 'none';
                    document.getElementById('nhieungay').style.display = 'none';
                }else if (e.target.value === 'trongngay') {
                    document.getElementById('nuangay').style.display = 'none';
                    document.getElementById('trongngay').style.display = 'block';
                    document.getElementById('nhieungay').style.display = 'none';
                } else {
                    document.getElementById('nuangay').style.display = 'none';
                    document.getElementById('trongngay').style.display = 'none';
                    document.getElementById('nhieungay').style.display = 'block';
            }
            });
    </script>
</body>

</html>