body {
        margin: 0;
        padding: 0;
    }

    body,
    html {
        height: 100%;
    }

    .md-event-listing-cont {
        position: relative;
        padding-left: 50px;
    }
    
    .md-event-listing-avatar {
        position: absolute;
        max-height: 50px;
        max-width: 50px;
        top: 21px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 20px;
    }
    
    .md-event-listing-name {
        font-size: 16px;
    }
    
    .md-event-listing-title {
        font-size: 12px;
        margin-top: 5px;
    }
    
    .md-event-listing .mbsc-segmented {
        max-width: 350px;
        margin: 0 auto;
        padding: 1px;
    }
    
    .md-event-listing-picker {
        flex: 1 0 auto;
    }
    
    .md-event-listing-nav {
        width: 200px;
    }
    
    /* material header order */
    
    .mbsc-material.md-event-listing-prev {
        order: 1;
    }
    
    .mbsc-material.md-event-listing-next {
        order: 2;
    }
    
    .mbsc-material.md-event-listing-nav {
        order: 3;
    }
    
    .mbsc-material .md-event-listing-picker {
        order: 4;
    }
    
    .mbsc-material .md-event-listing-today {
        order: 5;
    }
    
    /* windows header order */
    
    .mbsc-windows.md-event-listing-nav {
        order: 1;
    }
    
    .mbsc-windows.md-event-listing-prev {
        order: 2;
    }
    
    .mbsc-windows.md-event-listing-next {
        order: 3;
    }
    
    .mbsc-windows .md-event-listing-picker {
        order: 4;
    }
    
    .mbsc-windows .md-event-listing-today {
        order: 5;
    }
    .ReactVirtualized__Table__headerRow {
        font-weight: 700;
        text-transform: uppercase
    }
    
    .ReactVirtualized__Table__headerRow,
    .ReactVirtualized__Table__row {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center
    }
    
    .ReactVirtualized__Table__headerTruncatedText {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
    }
    
    .ReactVirtualized__Table__headerColumn,
    .ReactVirtualized__Table__rowColumn {
        margin-right: 10px;
        min-width: 0
    }
    
    .ReactVirtualized__Table__rowColumn {
        text-overflow: ellipsis;
        white-space: nowrap
    }
    
    .ReactVirtualized__Table__headerColumn:first-of-type,
    .ReactVirtualized__Table__rowColumn:first-of-type {
        margin-left: 10px
    }
    
    .ReactVirtualized__Table__sortableHeaderColumn {
        cursor: pointer
    }
    
    .ReactVirtualized__Table__sortableHeaderIconContainer {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center
    }
    
    .ReactVirtualized__Table__sortableHeaderIcon {
        -webkit-box-flex: 0;
        flex: 0 0 24px;
        height: 1em;
        width: 1em;
        fill: currentColor
    }